<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:include="base::#th_base">
<!-- HEAD**************************************** -->
<!-- HEAD -->
<!-- TITLE-->
<title id="th_title"></title>
<!-- EXTRAHEAD-->
<div id="th_extrahead">
<script></script>
</div>

<!-- BODY**************************************** -->
<!-- NAVIGATION -->

<!-- CONTENT -->
    <!--SIDE_BAR-->

    <!--CONTENT_CONTAINER-->
    <div id="th_content_container">
    	<h1 class="page-header">Dashboard</h1>

        <h2 class="sub-header">Section title</h2>
    </div>

<!-- FOOTER -->

<!-- EXTRA_STYLE -->
</html>
