<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<form class="form-horizontal" id="th_form_community" action="#" th:action="@{/create/community}"
          th:object="${community}" method="post">
        <input hidden id="input_user_netcard_id" name="user_netcard_id" type="text" value="0">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input_nickname">名称</label>
            <div class="col-sm-9">
                <input class="form-control" id="input_nickname" type="text" placeholder="东方名城"
                       th:field="*{commName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input_community_id">地址</label>
            <div class="col-sm-9">
                <input class="form-control" id="input_community_id" type="text" placeholder=""
                       th:field="*{commAddress}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input_community_id">省</label>
            <div class="col-sm-9">
                <input class="form-control" id="input_community_id" type="text" placeholder=""
                       th:field="*{commCodeProvince}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input_community_id">区县市</label>
            <div class="col-sm-9">
                <input class="form-control" id="input_community_id" type="text" placeholder=""
                       th:field="*{commCodeCity}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input_community_id">乡镇</label>
            <div class="col-sm-9">
                <input class="form-control" id="input_community_id" type="text" placeholder=""
                       th:field="*{commCodeDistrict}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input_community_id">社区村</label>
            <div class="col-sm-9">
                <input class="form-control" id="input_community_id" type="text" placeholder=""
                       th:field="*{commCodeCommunity}">
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="btn_add_net_info" type="submit">确认</button>
        <!--<button class="btn btn-lg btn-primary btn-block" id="btn_update_net_info">Update All</button>-->

    </form>

</html>

        