<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- HEAD**************************************** -->
<head th:include="base::#th_head">
<!-- TITLE-->
<title id="th_title">登录</title>
<!-- EXTRAHEAD-->
<div id="th_extrahead">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    function saveUserInfo() {
        if ( $("#ckRememberMe").attr("checked") == "checked") {
            var username = $("#inputUsername").val();
            var password = $("#inputPassword").val();
            $.cookie("rememberMe", "true", { expires: 3 }); // 存储一个带3天期限的 cookie
            $.cookie("username", username, { expires: 3 });
            $.cookie("password", password, { expires: 3 });
        } else {
            $.cookie("rememberMe", "false", { expires: -1 });   // 删除cookie
            $.cookie("username", '', { expires: -1 });
            $.cookie("password", '', { expires: -1 });
        }
        return true;
    }
    $(document).ready(function(){
        if ($.cookie("rememberMe") == "true") {
            $("#ckRememberMe").attr("checked", true);
            $("#inputUsername").val($.cookie("username"));
            $("#inputPassword").val($.cookie("password"));
        }
    })
</script>
</div>
</head>
<!-- BODY**************************************** -->
<body>
<!-- NAVIGATION -->
<!-- CONTENT -->
<div class="container">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form id="formSignIn" action="/home" method="post" onsubmit="return saveUserInfo()">
            <h2>请登录</h2>
            <div class="form-group">
                <label class="sr-only" for="inputUsername">账号</label>
                <input class="form-control" id="inputUsername" name="username" type="text" placeholder="账号" required="required" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">密码</label>
                <input class="form-control" id="inputPassword" name="password" type="password" placeholder="密码" required="required"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input id="ckRememberMe" type="checkbox" value="remember-me"/> 记住我</label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="btnSignIn" type="submit">登录</button>
        	<a class="btn btn-lg btn-primary btn-block" id="" href="/home">主页</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

</div> <!-- /container -->
<!-- FOOTER -->
<!-- EXTRA_STYLE -->
</body>
</html>