<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dclab.mapper.ApartmentMapper" >
  <resultMap id="BaseResultMap" type="com.dclab.entity.Apartment" >
    <id column="apartment_id" property="apartmentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    apartment_id, name, owner_id, serial_number, building_id, area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from apartment
    where apartment_id = #{apartmentId,jdbcType=INTEGER}
  </select>

  <select id="findApartment" resultMap="BaseResultMap">
    SELECT * FROM apartment
    WHERE owner_id = #{0} AND building_id = #{1}
  </select>

  <select id="getApartmentsByBuildingId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * FROM apartment
    WHERE building_id = #{buildingId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apartment
    where apartment_id = #{apartmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dclab.entity.Apartment" >
    insert into apartment (apartment_id, name, owner_id, 
      serial_number, building_id, area
      )
    values (#{apartmentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ownerId,jdbcType=INTEGER}, 
      #{serialNumber,jdbcType=VARCHAR}, #{buildingId,jdbcType=INTEGER}, #{area,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dclab.entity.Apartment" >
    insert into apartment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apartmentId != null" >
        apartment_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="area != null" >
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apartmentId != null" >
        #{apartmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dclab.entity.Apartment" >
    update apartment
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=REAL},
      </if>
    </set>
    where apartment_id = #{apartmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dclab.entity.Apartment" >
    update apartment
    set name = #{name,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      building_id = #{buildingId,jdbcType=INTEGER},
      area = #{area,jdbcType=REAL}
    where apartment_id = #{apartmentId,jdbcType=INTEGER}
  </update>
</mapper>