<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dclab.mapper.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.dclab.entity.Device" >
    <id column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
    <result column="private_key" property="privateKey" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="mac_address" property="macAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_id, device_type, public_key, private_key, merchant_id, mac_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>

  <select id="findDevice" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM device
    WHERE mac_address = #{macAddress}
  </select>

  <select id="findDeviceExact" resultMap="BaseResultMap">
    SELECT * FROM device
    WHERE device_id = #{0} AND merchant_id = #{1} AND mac_address = #{2}
  </select>

  <select id="getDevices" resultMap="BaseResultMap">
    SELECT * FROM device
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dclab.entity.Device" >
    insert into device (device_id, device_type, public_key, 
      private_key, merchant_id, mac_address
      )
    values (#{deviceId,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, #{publicKey,jdbcType=VARCHAR}, 
      #{privateKey,jdbcType=VARCHAR}, #{merchantId,jdbcType=INTEGER}, #{macAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dclab.entity.Device" >
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="publicKey != null" >
        public_key,
      </if>
      <if test="privateKey != null" >
        private_key,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="macAddress != null" >
        mac_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="macAddress != null" >
        #{macAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dclab.entity.Device" >
    update device
    <set >
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="macAddress != null" >
        mac_address = #{macAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dclab.entity.Device" >
    update device
    set device_type = #{deviceType,jdbcType=VARCHAR},
      public_key = #{publicKey,jdbcType=VARCHAR},
      private_key = #{privateKey,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      mac_address = #{macAddress,jdbcType=VARCHAR}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
</mapper>