<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dclab.mapper.MerchantMapper" >
  <resultMap id="BaseResultMap" type="com.dclab.entity.Merchant" >
    <id column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    merchant_id, address, merchant_name, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>

  <select id="findMerchant" resultMap="BaseResultMap">
    SELECT * FROM merchant
    WHERE merchant_name = #{0} AND address = #{1}
  </select>

  <select id="getMerchants" resultMap="BaseResultMap">
    SELECT * FROM merchant
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchant
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dclab.entity.Merchant" >
    insert into merchant (merchant_id, address, merchant_name, 
      note)
    values (#{merchantId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dclab.entity.Merchant" >
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dclab.entity.Merchant" >
    update merchant
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dclab.entity.Merchant" >
    update merchant
    set address = #{address,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>