<!DOCTYPE html>
<html lang="en">
<head id="th_head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script src="resources/js/jquery-2.1.4.min.js"></script>
    <script src="resources/js/bootstrap-3.3.6.min.js"></script>
    <link href="resources/css/bootstrap-3.3.6.min.css" rel="stylesheet"/>
    <title>社区基本信息录入</title>
    <link href="resources/css/home.css" rel="stylesheet">
    <!-- 其他script或style请写在body最后面 -->
</head>
<body>
<!-- NAVIGATION -->
<nav id="th_navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./home.html">智慧社区应用服务门户</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="./home.html" >首页</a></li>
                <li><a href="#">设置</a></li>
                <li><a href="#">信息</a></li>
                <li><a href="#">帮助</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- CONTENT -->
<div id="th_content" class="container-fluid">
    <div class="row">
        <!--SIDE_BAR-->
        <div id="th_sidebar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header">创建社区</h4></li>
                <li><a href="./community_info_fillout.html" >社区基本信息录入<span class="sr-only">(current)</span></a></li>
                <li><a href="./people_info_fillout.html" >人员基本信息录入</a></li>
                <li><a href="./service_info_fillout.html" >微服务配置</a></li>
                <li><a href="#" >数据库生成</a></li>
                <li><a href="#" >社区预览</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header">其他</h4></li>
                <li><a href="#">其他</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header">其他</h4></li>
                <li><a href="#">其他</a></li>
            </ul>
        </div>

        <!--CONTENT_CONTAINER-->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!-- BEGIN************************请在此处添加内容************************ -->
            <h1 class="page-header">社区基本信息录入</h1>

            <div class="row placeholders">
                <div class="col-xs-7 col-sm-7 placeholder">
                    <h3 class="sub-header text-left">社区</h3>

                    <form class="form-horizontal" id="th_form_community" action="#" th:action="@{/create/community}"
                          th:object="${community}" method="post">
                        <input hidden id="input_user_netcard_id" name="user_netcard_id" type="text" value="0">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input_nickname">名称</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="input_nickname" type="text" placeholder=""
                                       th:field="*{commName}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input_community_id">地址</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="input_community_id" type="text" placeholder=""
                                       th:field="*{commAddress}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input_community_id">省(国标码)</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="input_community_id" type="text" placeholder=""
                                       th:field="*{commCodeProvince}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input_community_id">区县市(国标码)</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="input_community_id" type="text" placeholder=""
                                       th:field="*{commCodeCity}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input_community_id">乡镇(国标码)</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="input_community_id" type="text" placeholder=""
                                       th:field="*{commCodeDistrict}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input_community_id">社区村(国标码)</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="input_community_id" type="text" placeholder=""
                                       th:field="*{commCodeCommunity}">
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" id="btn_add_net_info" type="submit">确认</button>
                        <!--<button class="btn btn-lg btn-primary btn-block" id="btn_update_net_info">Update All</button>-->

                    </form>

                </div>

                <!--<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 placeholder">
                    <h3 class="sub-header text-left">Resident Information</h3>
                    {% include "template/form_resident.html" %}
                </div>-->
            </div><!--row-->

            <div class="row placeholders">
                <div class="col-xs-9 col-sm-9 placeholder">
                    <h3 class="sub-header text-left">小区
                        <a class="btn btn-link btn-lg" id="btn_comm_new_row" type="button" th:href="@{/create/small_community(commId=${commId})}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </h3>

                    <div class="table-responsive" id="th_table_small_comm">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>编号</th><th>名称</th><th>地址</th><th>编辑</th><th>删除</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_small_comm_edit" th:unless="${#lists.isEmpty(neighbourhoods)}">
                            <tr th:each="neighbourhood : ${neighbourhoods}">
                                <td class="user_id" th:text="*{neigId}?:'1'">1</td>
                                <td th:text="*{neigName}">东方名城A</td>
                                <td th:text="*{neigAddress}">上海市五角场东方名城</td>
                                <td>
                                    <button class="btn btn-link btn-xs btn_edit" type="button">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-link btn-xs btn_remove" type="button">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table><!--table-->
                    </div><!--table-responsice-->

                </div>
            </div><!--row-->

            <div class="row placeholders">
                <div class="col-xs-9 col-sm-9 placeholder">
                    <h3 class="sub-header text-left">周边商户
                        <button class="btn btn-link btn-lg" id="btn_merc_new_row" type="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </h3>

                    <!--TODO-->
					<div class="table-responsive" id="th_table_merc">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th width='10%'>商户号</th><th>名称</th><th>地址</th><th>备注</th><th>编辑</th><th>删除</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_merchant_edit">
							
                            </tbody>
                        </table><!--table-->
                    </div><!--table-responsice-->
                </div>
            </div><!--row-->

            <div class="row placeholders">
                <div class="col-xs-9 col-sm-9 placeholder">
                    <h3 class="sub-header text-left">周边设施
                        <button class="btn btn-link btn-lg" id="btn_devi_new_row" type="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </h3>

                    <!--TODO-->
					<div class="table-responsive" id="th_table_devi">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>设施号</th><th>类型</th><th width='10%'>商户号</th><th>MAC地址</th><th>编辑</th><th>删除</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_device_edit">
							
                            </tbody>
                        </table><!--table-->
                    </div><!--table-responsice-->
                </div>
            </div><!--row-->

            <div class="row placeholders">
                <div class="col-xs-7 col-sm-7 placeholder">

                    <!--<button class="btn btn-lg btn-primary btn-block" id="btn_add_net_info">确认</button>-->
                </div>
            </div><!--row-->
        <!-- END************************请在此处添加内容************************ -->
        </div><!-- content_container -->

    </div><!--row-->
</div><!-- /.container -->

<!-- FOOTER -->
<div></div>
<!-- EXTRA_SCRIPT -->
<script>
	var localID = 0;
	var neigID = 2;
	
    $(document).ready(function(){
        $('#tbody_small_comm_edit').find('tr .btn_edit').click(function(event){
            user_id = $(this).parent().parent().children(":first").text()
            console.log(user_id)
            window.location.href = "/edit/small_community"
//          	+ user_id
        });
        $('#tbody_user_edit').find('tr .btn_remove').click(function(event){
            user_id = $(this).parent().parent().children(":first").text()
            console.log(user_id)
            alert('Are you sure to delete user ' + user_id + '?')
//            window.location.href = "/admin/user/delete/" + user_id
        });
        $('#btn_add_user').click(function(){
            window.location.href = "#"
        });
		
		$('#btn_comm_new_row').click(function(){
			var tr = $('<tr id="neigTr' +localID +'"></tr>');
			var input1 = $('<td>' + neigID + '</td>');
			var input2 = $('<td><input id="neigName' + localID + '" type="text" required="required" autofocus="autofocus"/></td>');
			var input3 = $('<td><input id="neigAddress' + localID + '" type="text" required="required"/></td>');
			var td1 = $('<td id="btn_neig_list' + localID + '"></td>');
			var btn1 = $('<button id="btn_neig' + localID + '" type="submit" onclick="neigSub(' + localID +');">确认</button>');
			var td2 = $('<td></td>');
			td1.append(btn1);
			tr.append(input1);
			tr.append(input2);
			tr.append(input3);
			tr.append(td1);
			tr.append(td2);
			$('#tbody_small_comm_edit').append(tr);
			
			localID++;
			neigID++;
			console.log("localID:" + localID);
		});
		
		$('#btn_merc_new_row').click(function(){
			var tr = $('<tr></tr>');
			var input1 = $('<td><input style="width:80%" id="mercID' + localID + '" disabled="true" type="text" required="required"/></td>');
			var input2 = $('<td><input id="mercName' + localID + '" type="text" required="required" autofocus="autofocus"/></td>');
			var input3 = $('<td><input id="mercAddress' + localID + '" type="text" required="required"/></td>');
			var input4 = $('<td><input id="mercNote' + localID + '" type="text" required="required"/></td>');
			var btn1 = $('<td><button id="btn_merc' + localID + '" type="submit" onclick="mercSub(' + localID +');">确认</button></td>');
			var btn2 = $('<td></td>');
			tr.append(input1);
			tr.append(input2);
			tr.append(input3);
			tr.append(input4);
			tr.append(btn1);
			tr.append(btn2);
			$('#tbody_merchant_edit').append(tr);
			
			localID++;
			console.log("localID:" + localID);
		});
		
		$('#btn_devi_new_row').click(function(){
			var tr = $('<tr></tr>');
			var input1 = $('<td><input id="deviID' + localID + '" type="text" required="required"/></td>');
			var input2 = $('<td><input id="deviType' + localID + '" type="text" required="required" autofocus="autofocus"/></td>');
			var input3 = $('<td><input style="width:80%" id="deviMID' + localID + '" type="text" required="required"/></td>');
			var input4 = $('<td><input id="deviAddress' + localID + '" type="text" required="required"/></td>');
			var btn1 = $('<td><button id="btn_devi' + localID + '" type="submit" onclick="deviSub(' + localID +');">确认</button></td>');
			var btn2 = $('<td></td>');
			tr.append(input1);
			tr.append(input2);
			tr.append(input3);
			tr.append(input4);
			tr.append(btn1);
			tr.append(btn2);
			$('#tbody_device_edit').append(tr);
			
			localID++;
			console.log("localID:" + localID);
		});
    })
	
	function add_build(i, neigID){
		if($("#table_building" + i).length <= 0){
			var table = $('<table class="table table-striped table-hover" id="table_building' + i + '"></table>');
			var th = $('<thead></thead>');
			var tb = $('<tbody></tbody>');
			var tr1 = $('<tr></tr>');
			var td = $('<td>编号</td><td>小区号</td><td>楼栋名称</td><td>描述</td><td>编辑</td><td>删除</td>')
			tr1.append(td);
			th.append(tr1);
			
			var tr2 = $('<tr></tr>');
			var input1 = $('<td id="1">' + 1 +'</td>');
			var input2 = $('<td id="buildNeigID' + localID +'">' + neigID + '</td>');
			var input3 = $('<td><input id="buildName' + localID + '" type="text" required="required" autofocus="autofocus"/></td>');
			var input4 = $('<td><input id="buildDesc' + localID + '" type="text" required="required"/></td>');
			var input5 = $('<td><button id="btn_build' + localID + '" type="submit" onclick="buildSub(' + localID +');">确认</button></td>');
			var input6 = $('<td></td>');
			tr2.append(input1);
			tr2.append(input2);
			tr2.append(input3);
			tr2.append(input4);
			tr2.append(input5);
			tr2.append(input6);
			tb.append(tr2);
			table.append(th);
			table.append(tb);
			
			var trs = $('<tr rowspan="4"></tr>');
			var tds = $('<td colspan="5"></td>');
			tds.append(table);
			trs.append(tds);
			$("#neigTr" + i).after(trs);
			localID++;
			console.log("localID:" + localID);
		}else{
			var s = $("#table_building" + i + " tbody tr:last td:first").text();
			s++;
			var tr3 = $('<tr></tr>');
			var input1 = $('<td id="'+ s  +'">' + s +'</td>');
			var input2 = $('<td id="buildNeigID' + localID +'">' + neigID + '</td>');
			var input3 = $('<td><input id="buildName' + localID + '" type="text" required="required" autofocus="autofocus"/></td>');
			var input4 = $('<td><input id="buildDesc' + localID + '" type="text" required="required"/></td>');
			var input5 = $('<td><button id="btn_build' + localID + '" type="submit" onclick="buildSub(' + localID +');">确认</button></td>');
			var input6 = $('<td></td>');
			tr3.append(input1);
			tr3.append(input2);
			tr3.append(input3);
			tr3.append(input4);
			tr3.append(input5);
			tr3.append(input6);
			$("#table_building" + i + " tbody").append(tr3);
			localID++;
			console.log("localID:" + localID);
		}
	}

	function neigSub(i){
		alert("submit now ...");
		var neigName = $('#neigName' + i).val()
		var neigAddress = $('#neigAddress' + i).val()
		
		console.log(neigName + ' ' + neigAddress);
				
		$.ajax({
	        type: "POST",
			url: "http://202.120.40.111:8888/scas-server/api/neghbourhood/add",
			dataType: 'json',
			crossDomain: true,
	        data:  JSON.stringify({
				"commId"		:	1,
	            "neigName"		:	neigName,
	            "neigAddress"	:	neigAddress,
	        }),
	        contentType: "application/json",
	        success: function(d) {
				alert('success');
				if(d.code == 0){
					$("#btn_neig" + i).hide()
					$("#neigName" + i).attr('disabled',true);
					$("#neigAddress" + i).attr('disabled',true);
					var neigID = d.data[0].neigId;
					var btn = $('<button id="btn_negi_build' + i + '" type="submit" onclick="add_build(' + i +',' + neigID +');">添加楼栋</button>');
					$("#btn_neig_list" + i).append(btn);
				}else{
					alert(d.msg);
				}
	        },
			
	        error: function(error) {
				alert('error');
	            console.log('Oops')
	        }
	    })
		
	}
	
	function mercSub(i){
		alert("submit now ...");
		var mercName = $('#mercName' + i).val()
		var mercAddress = $('#mercAddress' + i).val()
		var mercNote = $('#mercNote' + i).val()
		
		console.log(mercName + ' ' + mercAddress + ' ' + mercNote);

		$.ajax({
	        type: "POST",
			url: "http://202.120.40.111:8888/scas-server/api/merchant/add",
			dataType: 'json',
			crossDomain: true,
	        data:  JSON.stringify({
				"merchantName"	:	mercName,
	            "address"		:	mercAddress,
	            "note"			:	mercNote,
	        }),
	        contentType: "application/json",
	        success: function(d) {
				alert('success');
				if(d.code == 0){
					$("#btn_merc" + i).attr('disabled',true);
					var merchantID = d.data[0].merchantId;
					$('#mercID' + i).val(merchantID);
				}else{
					alert(d.msg);
				}
	        },
			
	        error: function(error) {
				alert('error');
	            console.log('Oops')
	        }
	    })
	}

	function deviSub(i){
		alert("submit now ...");
		var deviID = $('#deviID' + i).val()
		var deviType = $('#deviType' + i).val()
		var mercID = $('#deviMID' + i).val()
		var deviAddress = $('#deviAddress' + i).val()
		
		console.log(deviID + ' ' + deviType + ' ' + mercID + ' ' + deviAddress);
		
		$.ajax({
	        type: "POST",
			url: "http://202.120.40.111:8888/scas-server/api/device/add",
			dataType: 'json',
			crossDomain: true,
	        data:  JSON.stringify({
				"deviceId"		:	deviID,
	            "deviceType"	:	deviType,
	            "merchantId"	:	mercID,
				"macAddress"	:	deviAddress,
	        }),
	        contentType: "application/json",
	        success: function(d) {
				alert('success');
				if(d.code == 0){
					$("#btn_build" + i).attr('disabled',true);
					$("#buildName" + i).attr('disabled',true);
					$("#buildDesc" + i).attr('disabled',true);
				}else{
					alert(d.msg);
				}
	        },
			
	        error: function(error) {
				alert('error');
	            console.log('Oops')
	        }
	    })
	}
	
	function buildSub(i){
		alert("submit now ...");
		var bulidName = $('#buildName' + i).val()
		var bulidDesc = $('#buildDesc' + i).val()
		var buildNeigID = $('#buildNeigID' + i).text()
		
		console.log(bulidName + ' ' + bulidDesc + ' ' + buildNeigID);
		
		$.ajax({
	        type: "POST",
			url: "http://202.120.40.111:8888/scas-server/api/building/add",
			dataType: 'json',
			crossDomain: true,
	        data:  JSON.stringify({
				"name"		:	bulidName,
	            "desc"		:	bulidDesc,
	            "neigId"	:	buildNeigID,
	        }),
	        contentType: "application/json",
	        success: function(d) {
				alert('success');
				if(d.code == 0){
					$("#btn_build" + i).attr('disabled',true);
				}else{
					alert(d.msg);
				}
	        },
			
	        error: function(error) {
				alert('error');
	            console.log('Oops')
	        }
	    })
	}
</script>
<!-- EXTRA_STYLE -->
<style>
    .form-horizontal img{
        max-height: 64px;max-width: 64px;
    }
</style>
</body>
</html>