{% extends "template/base.html" %}

<!-- HEAD**************************************** -->
<!-- TITLE-->
{% block title %}User Signup{% endblock %}
<!-- EXTRAHEAD-->
{% block extrahead %}
<script>
    $(document).ready(function(){
        $('#checkAdvancedOptions').click(function(){
            $('#divAdvancedOptions').toggle(1000)
        })
    })
</script>
{% endblock %}

<!-- BODY**************************************** -->
<!-- NAVIGATION -->

<!-- CONTENT -->
    <!--SIDE_BAR-->

    <!--CONTENT_CONTAINER-->
    {% block content_container %}
<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <form action="/admin/signup" method="post"  enctype="multipart/form-data">
            <h2>User Signup</h2>
            <div class="form-group">
                <label class="sr-only" for="inputUsername">Username</label>
                <input class="form-control" id="inputUsername" name="username" type="text" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="selectUserType">User type</label>
                <select class="form-control" id="selectUserType" name="selectUserType">
                    <option value="3">Resident</option>
                    <option value="1">Management</option>
                    <option value="2">Service</option>
                    <option value="4">Admin</option>
                </select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input id="checkAdvancedOptions" type="checkbox" value="show_advanced_options" checked> Show advanced options</label>
                </div>
            </div>
            <div id="divAdvancedOptions">
                <div class="form-group">
                    <label class="sr-only" for="inputName">Name</label>
                    <input class="form-control" id="inputName" name="name" type="text" placeholder="Name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input class="form-control" id="inputEmail" name="email" type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputIdentityNum">Identity number</label>
                    <input class="form-control" id="inputIdentityNum" name="identity_number" type="text" placeholder="Identity number">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputCardId">Card ID</label>
                    <input class="form-control" id="inputCardId" name="card_number" type="text" placeholder="Card ID">
                </div>
                <div class="form-group">
                    <p class="help-block">Please upload your photo.</p>
                    <label class="sr-only" for="inputImageFile">Choose photo</label>
                    <input id="inputImageFile" type="file"  name="upload">
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
</div> <!-- /container -->
    {% endblock content_container %}

<!-- FOOTER -->

<!-- EXTRA_STYLE -->